body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff; 
  color: #000;            
  padding: 0.75rem 1.5rem;
  flex-wrap: wrap;
  border-bottom: 1px solid #e0e0e0; 
  font-size:smaller;
}

.logo {
  font-size: 2.0rem;
  margin: 0;
  color: #000; 
  font-weight:lighter;
  font-family:'Times New Roman', Times, serif;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.nav-links li a {
  color: #000; 
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-links li a:hover {
  color: #0077cc; 
}


.main {
  flex-grow: 1;
  padding: 0; /* remove padding so hero is edge-to-edge */
}

@media (max-width: 600px) {
  .nav {
    padding: 0.5rem 1rem;
  }

  .nav-links {
    gap: 0.8rem;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
  }
}
